.recruiter-sign-in{
  display: flex;
}
.recruiter-sign-up {
  display: flex;
  height: 140vh;
}
.recruiter-sign-in-right-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.recruiter-sign-up-right-container {
  width: 50%;
  margin-top: auto;
  margin-bottom: auto;
}
.recruiter-sign-in-right-wrapper img,
.recruiter-sign-up-right-wrapper img {
  width: 100%;
}
.recruiter-sign-in-left-container,
.recruiter-sign-up-left-container {
  width: 50%;
  padding: 0px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.recruiter-error-messages {
  color: red;
  font-size: 13px;
}
.recruiter-success-message {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 99999;
}
.recruiter-success-message-container {
  width: 400px;
  height: 450px;
}
.recruiter-success-message .recruiter-success-message-top-wrapper div {
  margin-top: 20px;
}
.recruiter-success-message .recruiter-success-message-top-wrapper {
  background-color: #2c6f8b;
  height: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-weight: lighter;
}

.recruiter-success-message .recruiter-success-message-bottom-wrapper {
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  font-size: 20px;
  color: gray;
  text-align: center;
}
.recruiter-sign-in-left-wrapper {
  width: 490px;
  margin-top: 20px;
}
.recruiter-sign-up-left-wrapper {
  width: 490px;
  margin-top: 60px;
}
.recruiter-sign-in-left-wrapper p {
  color: gray;
  font-size: 16px;
  font-weight: 500;
  margin: 15px 0px 40px 0px;
}
.recruiter-sign-up-left-wrapper p {
  color: gray;
  font-size: 16px;
  font-weight: 500;
  margin: 10px 0px 30px 0px;
}
.recruiter-google-sign-in .recruiter-FcGoogle {
  font-size: 25px;
  margin-right: 10px;
}
.recruiter-google-sign-in a {
  text-decoration: none;
  color: rgb(50, 50, 50);
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 12px 0px;
  border: 1px solid lightgray;
  border-radius: 30px;
}
.recruiter-sign-in-left-wrapper h3 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid lightgray;
  line-height: 0.1em;
  margin: 40px 0 20px;
  font-size: 12px;
  font-weight: 500;
  color: lightgray;
}
.recruiter-sign-up-left-wrapper h3 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid lightgray;
  /* line-height: 0.1em; */
  margin: 30px 0 20px;
  font-size: 12px;
  font-weight: 500;
  color: lightgray;
}
.recruiter-sign-in-left-wrapper h3 span,
.recruiter-sign-up-left-wrapper h3 span {
  background: #fff;
  padding: 0 10px;
}
.recruiter-sign-in-left-wrapper .recruiter-form-label,
.recruiter-sign-up-left-wrapper .recruiter-form-label {
  font-size: 16px;
  font-weight: 500;
}
.recruiter-sign-in-left-wrapper .recruiter-form-label span,
.recruiter-sign-up-left-wrapper .recruiter-form-label span {
  color: #4c859d;
}
.recruiter-sign-in-left-wrapper #email,
.recruiter-sign-up-left-wrapper #email,
.recruiter-sign-up-left-wrapper #companyName,
.recruiter-sign-up-left-wrapper #companyDescription,
.recruiter-sign-up-left-wrapper #totalEmployees,
.recruiter-sign-up-left-wrapper #founded{
  width: 100%;
  outline: none;
  padding: 15px 20px;
  border-radius: 30px;
  border: 1px solid lightgray;
  font-size: 15px;
  margin: 5px 0px 15px 0px;
}
.recruiter-sign-in-left-wrapper #password,
.recruiter-sign-up-left-wrapper #password,
.recruiter-sign-up-left-wrapper #confirmPassword {
  width: 100%;
  outline: none;
  padding: 15px 20px;
  border-radius: 30px;
  border: 1px solid lightgray;
  font-size: 15px;
  box-sizing: border-box;
  margin: 5px 0px 15px 0px;
}

.recruiter-sign-in-left-wrapper #login-submit,
.recruiter-sign-up-left-wrapper #signup-submit {
  width: 100%;
  border: none;
  cursor: pointer;
  color: #fff;
  border-radius: 30px;
  padding: 15px 0px;
  margin: 25px 0px 15px 0px;
  font-size: 16px;
  background: linear-gradient(to right, #3e9bc3, #4c859d);
}
.recruiter-sign-in-left-wrapper #login-submit:hover,
.recruiter-sign-up-left-wrapper #signup-submit:hover {
  background: linear-gradient(to right, #4c859d, #3e9bc3);
}

.recruiter-remember-forgot a {
  float: right;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  color: #2c6f8b;
}
.recruiter-sign-in-left-wrapper .recruiter-remember-me-checkbox,
.recruiter-sign-up-left-wrapper .recruiter-terms-checkbox {
  font-size: 15px;
  font-weight: 500;
  float: left;
}
.recruiter-sign-in-left-wrapper .recruiter-remember-me-checkbox input,
.recruiter-sign-up-left-wrapper .recruiter-terms-checkbox input {
  margin-right: 10px;
}

.recruiter-sign-in-left-wrapper .recruiter-not-registered,
.recruiter-sign-up-left-wrapper .recruiter-already-registered {
  color: unset;
  margin: 15px 0px 10px 0px;
}
.recruiter-sign-in-left-wrapper .recruiter-not-registered a,
.recruiter-sign-up-left-wrapper .recruiter-already-registered a {
  text-decoration: none;
  color: #2c6f8b;
}

@media only screen and (max-width: 1000px) {
  .recruiter-sign-in,
  .recruiter-sign-up {
    flex-direction: column;
  }
  .recruiter-sign-in-left-container,
  .recruiter-sign-up-left-container {
    width: 100%;
    margin-top: 70px;
    padding: 0px 20px;
  }
  .recruiter-sign-in-right-container,
  .recruiter-sign-up-right-container {
    width: 100%;
  }
  .recruiter-sign-up-left-wrapper {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .recruiter-success-message-container {
    width: 340px;
    height: 360px;
  }
  .recruiter-success-message .recruiter-success-message-bottom-wrapper {
    height: 40%;
    font-size: 16px;
  }
}
